window {
    margin: 0px;
    border: 5px solid --wofi-color0;
    background-color: --wofi-color7;
    border-radius: 20px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: --wofi-color7;
    font-weight: bold;
    background-color: --wofi-color0;
    background: none;
   	outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
}
#input:focus {
    border: 0px solid --wofi-color0;
}

#inner-box {
    margin: 4px;
    border: 10px solid --wofi-color0;
    color: --wofi-color7;
    font-weight: 400;
    background-color: --wofi-color0;
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: --wofi-color0;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
    /* background: rgb(255,255,255); */
}

#img {
    padding: 5px;
    margin-right: 3px;
}

#img:selected {
    background-color: --wofi-color1;
    border-radius: 15px;
} 

#text:selected {
    color: --wofi-color0;
    margin: 2px 10px;
    border: none;
    font-weight: bold;
    border-radius: 15px;
    background-color: --wofi-color1;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border: none;
    border-radius: 15px;
    background-color: --wofi-color1;
}
